[submodule "jwt_security_common"]
	path = jwt_security_common
	url = https://github.com/gabriel-dears/jwt_security_common.git
[submodule "user_service"]
	path = user_service
	url = https://github.com/gabriel-dears/user_service.git
[submodule "appointment_service"]
	path = appointment_service
	url = https://github.com/gabriel-dears/appointment_service.git
[submodule "common"]
	path = common
	url = https://github.com/gabriel-dears/common.git
