[submodule "jwt_security_common"]
	path = jwt_security_common
	url = https://github.com/gabriel-dears/jwt_security_common.git
[submodule "user_service"]
	path = user_service
	url = https://github.com/gabriel-dears/user_service.git
[submodule "appointment_service"]
	path = appointment_service
	url = https://github.com/gabriel-dears/appointment_service.git
[submodule "common"]
	path = common
	url = https://github.com/gabriel-dears/common.git
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/gabriel-dears/notification_service.git
[submodule "proto_repo"]
	path = proto_repo
	url = https://github.com/gabriel-dears/proto_repo.git
[submodule "appointment_history_service"]
	path = appointment_history_service
	url = https://github.com/gabriel-dears/appointment_history_service.git
